Whatsapp Course-Ai agent.json
{
  "name": "Whatsapp Course-Ai agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "1. When a user sends their first message (like hi, hello), reply with:\n\"Welcome to WsCube 🎓\nHow can I help you today?\n\n📚 Enroll in a course\nℹ️ Course info / FAQ\n📊 Check enrollment status\"\n\n👉 Keep the tone friendly like an ed-tech platform, not like a product e-commerce site\n\n2. If user wants *enroll*:\n\n• Ask step by step:\n  - name\n  - course name\n\n• Available courses:\n  - AI-powered Digital Marketing\n  - Full-stack Web Course\n  - Mobile App Development\n  - Video Editing Course\n\n• If course exists →\n\"Your enrollment for [course] is confirmed ✅\"\n\n• If not available →\n\"Sorry, [course] is not available ❌. Available courses: [list]\"\n\n• Only confirmed enrollments go into the Enrollments sheet\n\n• In Enrollments sheet always include:\n  - Status = Confirmed / Rejected\n  - Description = \"Enrollment accepted\" OR \"Enrollment rejected (course not available)\"\n\n3. If user wants FAQ:\n\n• Answer short and clear:\n  - course duration\n  - fees\n  - certification\n  - support\n\n4. If user wants *check enrollment*:\n\n• Ask for name or enrollment id\n\n• Look up in Enrollments sheet\n\n• Reply with status:\n  - Confirmed\n  - Rejected\n  - Ongoing\n  - Completed\n\n• If user asks for course list →\nReply with all available courses\n\n5. If user wants *cancel enrollment*:\n\n• Reply politely:\n\"Sorry 🙏 I cannot cancel enrollments directly.\nPlease contact the support team.\nSupport Contact: +91 9179354788\"\n\n6. Always reply in short text like a normal WhatsApp chat\n\n• Do not use bold or long paragraphs\n• Use *stars* only for highlighting words\n• Keep tone friendly, polite, and ed-tech style"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        608,
        0
      ],
      "id": "9d10fdf0-df43-4fd4-992b-58ab350de05e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        416,
        224
      ],
      "id": "9817134b-4bed-4c86-b934-d7497665996f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "QpIxwDT9d8zouSu9",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        544,
        224
      ],
      "id": "b6795353-a9fc-4517-9194-3e171ef71daa",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OiG9PLBBSnqW-talPtJZmPHukXSdHljOqW1jE3fhrzk",
          "mode": "list",
          "cachedResultName": "Courses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OiG9PLBBSnqW-talPtJZmPHukXSdHljOqW1jE3fhrzk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Cources",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OiG9PLBBSnqW-talPtJZmPHukXSdHljOqW1jE3fhrzk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        672,
        224
      ],
      "id": "e8d96803-9ef2-41b7-b61c-a46cfa329f4b",
      "name": "Courses",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GZC9fafKYnef1z0R",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OiG9PLBBSnqW-talPtJZmPHukXSdHljOqW1jE3fhrzk",
          "mode": "list",
          "cachedResultName": "Courses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OiG9PLBBSnqW-talPtJZmPHukXSdHljOqW1jE3fhrzk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 457666566,
          "mode": "list",
          "cachedResultName": "FNQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OiG9PLBBSnqW-talPtJZmPHukXSdHljOqW1jE3fhrzk/edit#gid=457666566"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        800,
        224
      ],
      "id": "688b65ed-3244-4f1e-99a1-3df2745da604",
      "name": "FNQ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GZC9fafKYnef1z0R",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1OiG9PLBBSnqW-talPtJZmPHukXSdHljOqW1jE3fhrzk",
          "mode": "list",
          "cachedResultName": "Courses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OiG9PLBBSnqW-talPtJZmPHukXSdHljOqW1jE3fhrzk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1781472954,
          "mode": "list",
          "cachedResultName": "Enqury",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OiG9PLBBSnqW-talPtJZmPHukXSdHljOqW1jE3fhrzk/edit#gid=1781472954"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Student Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Student_Name', ``, 'string') }}",
            "Course": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Course', ``, 'string') }}",
            "Seate Enquiry": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Seate_Enquiry', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Enquiry Date": "={{ $now.format('dd-MM-yyyy hh-mm-ss a') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Student Name",
              "displayName": "Student Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Course",
              "displayName": "Course",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Seate Enquiry",
              "displayName": "Seate Enquiry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Enquiry Date",
              "displayName": "Enquiry Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        928,
        224
      ],
      "id": "6ee8ca35-62a6-47a8-ba5d-37140994392b",
      "name": "Course Enqury",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GZC9fafKYnef1z0R",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        192,
        0
      ],
      "id": "e332b881-f0f0-40d0-9620-9f6e5e41d200",
      "name": "WhatsApp Trigger",
      "webhookId": "cce1e880-035e-496a-be8e-27b9f168f08e",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "0glahJSVE7uwW1tt",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1053354207870042",
        "recipientPhoneNumber": "+91 9171484369",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1136,
        0
      ],
      "id": "e2c3c58a-267f-4ba7-8447-6fc6fa436867",
      "name": "Send message",
      "webhookId": "bbd3d91d-4e98-466d-aa77-9232cac9e0ad",
      "credentials": {
        "whatsAppApi": {
          "id": "MnGnDr3dKNx7vQSf",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Courses": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "FNQ": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Course Enqury": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4dd777d7-6b53-44be-831b-3bf6dff8d015",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "001cfc68104f8ab88809c2a193e38a9502ca6b46e2ecf275175fc75b276edebb"
  },
  "id": "mzoSKIH0TCMIQqMt",
  "tags": []
}